<!--calculator-->
<div class="container">
  <h1>{{ title }}</h1>
  <!-- Use two-way binding for the input variables -->
  <input type="number" [(ngModel)]="x" placeholder="first operand" required />
  <!-- Use a select element for the operation -->
  <select [(ngModel)]="operation">
    @for (op of operations;track operation;) {
      <option>{{ op }}</option>
    }
  </select>
  <input type="number" [(ngModel)]="y" placeholder="second operand" required />
  <!-- Use event binding to call the calculate method -->
  <button (click)="calculate()">=</button>
  <!-- Display the result -->
<!--span is used to display the result as a child of the div-->
  <span>{{ result }}</span>
</div>
